.main-page {
  margin-top: 50px;
}

.characters {
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex: nowrap;
  gap: 30px;
  padding: 40px 40px 40px 40px;
  background-color: #42f56c;
  border: 2px solid gray;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.characters .card {
  flex: 0 0 auto;
  height: 480px;
}

.characters::-webkit-scrollbar {
  height: 10px;
}

.characters::-webkit-scrollbar-track {
  background: lightgray;
}

.characters::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
